.add-todo-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-todo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
  
  .add-todo-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .add-todo-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-todo-container label {
    margin-bottom: 5px;
  }
  
  .add-todo-container input,
  .add-todo-container textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .add-todo-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-todo-container button:hover {
    background-color: #0056b3;
  }