.navbar-container{
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 5em;
    background-color: #104e8b;
    color: white;
    
}


.navbar-logo{
    color: white; 
    font-size: 35px;
    margin-bottom: auto;
    margin-left: 3em;
    text-decoration: none;
}

.nav-item {
    list-style-type: none; /* Entfernt die Listenpunkte */
    margin-right: 2em;
    font-size: 20px;
   
}

.navbar-item-container {
    display: flex; /* Fügt hinzu, um Links nebeneinander anzuzeigen */
    justify-content: space-between; /* Fügt hinzu, um den Abstand zwischen den Links zu verteilen */
    margin-right: 5em;
}

.nav-link{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: white; /* Stellt sicher, dass der Link weiß ist */
    text-align: left;
}
