.todo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .todolist-h1{
    margin: 1em 2em;
    text-align: center;
  }
  
  .todo-block {
    width: 600px;
    margin-bottom: 20px;
    margin-right: 1em;
    margin-left: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .todo-block h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .todo-block p {
    font-size: 14px;
  }
  
  .edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
  }
  
  .edit-modal p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .edit-modal input,
  .edit-modal textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .edit-modal button {
    margin-right: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .todoList-deleteButton {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 2em
  }
  
  .todoList-deleteButton:hover {
    background-color: #cc0000;
  }

  .todoList-bearbeitenButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

  }
  
  .todoList-bearbeitenButton:hover {
    background-color: #0056b3;
  }

